@model Online_recruitment_system.Models.Entities.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img style="width:70px; height:70px;" src="~/img/companyimg/@Model.Image" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appuser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appuser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usertype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usertype)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
