@model FilterCandidateViewModel


<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Candidates</h2>
                    <ul>
                        <li>
                            <img src="~/img/title-img-two.png" alt="Image" />
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li>
                            <span>/</span>
                        </li>
                        <li>Candidates</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="filter">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="add word for filter" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select class="my-select" asp-items="@ViewBag.Professions">
                            <option style="background: #333; color: #fff" disabled>
                                Filter By Profession
                            </option>

                        </select>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <!-- Main Select -->
                        <select class="my-select" asp-items="@ViewBag.Skills">
                            <option disabled style="background: #333; color: #fff">
                                Filter By Skill
                            </option>
                        </select>
                        <!-- Main Select -->
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label asp-for="@Model."></label>
                        <select class="my-select" asp-items="@ViewBag.Locations">
                            <option disabled style="background: #333; color: #fff">
                                Filter By Location
                            </option>

                        </select>
                    </div>
                </div>
                @*<div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="my-select">
                                <option>
                                    Filter By Language
                                </option>
                                <option>
                                    Filter By Location
                                </option>

                            </select>
                        </div>
                    </div>*@
                @*<div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="my-select">
                                <option>
                                    Filter By Qualifications
                                </option>
                                <option>
                                    Filter By Qualifications
                                </option>
                            </select>
                        </div>
                    </div>*@
                @*<div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="my-select">

                                <option>
                                    Filter By Experiences
                                </option>
                            </select>

                        </div>
                    </div>*@
                <div class="col-sm-6 col-lg-3">
                    <button type="submit" class="btn cmn-btn" asp-action="FilterCandidate" asp-route-name="">
                        Search By Filter
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--<div class="job-showing-area">
    <div class="container">
        <h4>Showing 1 - 8 of 11 results</h4>
        <div class="showing">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="left">
                        <div class="form-group">
                            <select style="display: none">
                                <option>Newest</option>
                                <option>Another option</option>

                            </select>

                        </div>
                    </div>
                </div>-->
<!-- <div class="col-sm-6 col-lg-6">
  <div class="right">
    <ul>
      <li>
        <a href="#">
          <i class="bx bx-dots-horizontal"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-menu"></i>
        </a>
      </li>
    </ul>
  </div>
</div> -->
<!--</div>
        </div>
    </div>
</div>-->

<div id="candidates-list">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Candidates)
            {
                @if (item.IsActive)
                {

                    <div class="col-lg-6">
                        <div class="candidate-card">
                            <div class="left">
                                <h3>
                                    <a asp-action="CandidateResume" asp-controller="Candidates">@item.FirstName @item.LastName</a>
                                </h3>
                                <span>@item.Profession.Name</span>
                                <p>
                                    @item.About
                                </p>
                                <ul>
                                    @foreach (var skill in item.SkillToCandidates)
                                    {
                                        <li>@skill.Skill.Name</li>

                                    }

                                </ul>
                                <div class="route">
                                    <a asp-action="ViewCandidateResume" asp-controller="Candidates" asp-route-id="@item.Id">
                                        <i class="bi bi-arrow-right one"></i>
                                        View Resume
                                        <i class="bi bi-arrow-right two"></i>
                                    </a>
                                </div>
                            </div>
                            <img src="~/img/candidateimg/@item.Image" alt="Candidate" />
                        </div>
                    </div>
                }

            }


        </div>

        <div class="pagination-items">
            <ul>
                <li>
                    <a href="#">Prev</a>
                </li>

                @for (int i = 1; i <= Model.PaginationModel.TotalPage; i++)
                {

                    if (i == Model.PaginationModel.CurrentPage)
                    {
                        <li class="page-item disabled">
                            <a asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <a asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }

                }
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>


    </div>
</div>


@section scripts{
    <script src="~/js/job.js"></script>

    <script>

        $('.my-select').on("change", function () {

            var value = $("option:selected").text();
            console.log(value);

            var test = $(".btn").attr("asp-route-name", value);

            console.log(test);
        });

    </script>

}
